@page "/books"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Crud_Blazor.Models
@using Crud_Blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Crud_Blazor.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Books</h1>

<p>
    <a href="books/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Books">
    <PropertyColumn Property="book => book.Name" />
    <PropertyColumn Property="book => book.Description" />

    <TemplateColumn Context="book">
        <a href="@($"books/edit?id={book.Id}")">Edit</a> |
        <a href="@($"books/details?id={book.Id}")">Details</a> |
        <a href="@($"books/delete?id={book.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
