@page "/categories/details"
@using Microsoft.EntityFrameworkCore
@using Crud_Blazor.Models
@inject IDbContextFactory<Crud_Blazor.Data.AppDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Category</h2>
    <hr />
    @if (category is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@category.Title</dd>
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@category.Description</dd>
        </dl>
        <div>
            <a href="@($"/categories/edit?id={category.id}")">Edit</a> |
            <a href="@($"/categories")">Back to List</a>
        </div>
    }
</div>

@code {
    private Category? category;

    [SupplyParameterFromQuery]
    private int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        category = await context.Categories.FirstOrDefaultAsync(m => m.id == id);

        if (category is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
