@page "/categories"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using Crud_Blazor.Models
@using Crud_Blazor.Data
@implements IAsyncDisposable
@inject IDbContextFactory<Crud_Blazor.Data.AppDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="categories/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Categories">
    <PropertyColumn Property="category => category.Title" />
    <PropertyColumn Property="category => category.Description" />

    <TemplateColumn Context="category">
        <a href="@($"categories/edit?id={category.id}")">Edit</a> |
        <a href="@($"categories/details?id={category.id}")">Details</a> |
        <a href="@($"categories/delete?id={category.id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private AppDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
